<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainStyle.css}">
    <link rel="shortcut icon" th:href="@{/images/icon.ico}">
    <title>bfa-App</title>
</head>
<body>
<div id="mainBlock">
    <div th:replace="fragments/mainNavBar :: mainNav"></div>
    <div id="bottomBlock">
        <div th:replace="fragments/mainNavBar :: handbookLeftNavBar"></div>
        <div id="content">
            <h2 style="margin: 0; padding-left: 2px; padding-bottom: 23px;">Телефонный справочник</h2>
            <table>
                <thead>
                <tr class="tableHead" style="font-size: 14px;">
                    <th class="rightWhiteBorder">ФИО</th>
                    <th class="rightWhiteBorder">Отдел</th>
                    <th class="rightWhiteBorder">Должность</th>
                    <th class="rightWhiteBorder">Местный телефон</th>
                    <th class="rightWhiteBorder">Городской телефон</th>
                    <th class="rightWhiteBorder">Мобильный телефон</th>
                    <th>Почтовый адрес</th>
                </tr>
                </thead>
                <tbody>
                <tr style="font-size: 12px;" th:each="p : ${HandbookPerson}" class="redRow">
                    <td class="rightMaroonBorder" th:text="${p.fullName}"></td>
                    <td class="rightMaroonBorder" th:text="${p.department}"></td>
                    <td class="rightMaroonBorder" th:text="${p.title}"></td>
                    <td class="rightMaroonBorder" th:text="${p.innerNumber}"></td>
                    <td class="rightMaroonBorder" th:text="${p.cityNumber}"></td>
                    <td class="rightMaroonBorder" th:text="${p.mobileNumber}"></td>
                    <td th:text="${p.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</div>
</body>
</html>