<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainStyle.css}">
    <link rel="shortcut icon" th:href="@{/images/icon.ico}">
    <title>bfa-App</title>
</head>
<body>
<div id="mainBlock">
    <div th:replace="fragments/mainNavBar :: mainNav"></div>
    <div id="bottomBlock">
        <div th:replace="fragments/mainNavBar :: mailsLeftNav"></div>
        <div id="content">
            <h2 style="margin: 0; padding-left: 2px; padding-bottom: 23px;">Просмотр листов рассылки</h2>
            <table style="margin-bottom: 25px;">
                <tr>
                    <th style="width: 300px">Список адресов из листа для Ctrl+C</th>
                    <td th:text="${personsOfmailList.emails}"></td>
                </tr>
            </table>
            <table style="border-color: maroon; border-width: 1px 1px 0px 1px">
                <thead>
                <tr class="tableHead">
                    <th style="width: 300px">Имя</th>
                    <th>Почта</th>
                    <th style="width: 110px">Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${personsOfmailList.persons}">
                    <td th:text="${person.fullName}" style="border: solid maroon; border-width: 0px 0px 0.5px 0px"></td>
                    <td th:text="${person.email}" style="border: solid maroon; border-width: 0px 0px 0.5px 0px"></td>
                    <td style="border: solid maroon; border-width: 0px 0px 0.5px 0px">
                        <a><button class="tableButton"  th:attr="onclick=|removePerson('${mailslistId}','${person.id}')|">Удалить</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function removePerson(mailslistId, personId){
        window.location.replace('http://10.160.3.232:7980/bfa-App/main/removePerson?mailsListId=' + mailslistId + '&personId=' + personId);
    }
</script>
</body>
</html>
